<?xml version="1.0"?>
<model>
  <name>aruco_target</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>
  <author>
    <name>mycobot_calibration</name>
  </author>
  <description>
    ArUco marker id 1 on a flat plate, used as an object of known pose for
    validating an eye-to-hand calibration.
  </description>
</model>
